<section>
  {% img left https://avatars2.githubusercontent.com/u/1100488?s=140 70 Steven Ko Avatar #2 %}
  <h1>Steven Ko</h1>
  <p>人生要勇於走自己的路</p>
  <div class="clear">
  <div class="socialIcons">
    <a href="https://www.facebook.com/ChunYuKo" target="_blank"><img src="https://lh6.googleusercontent.com/-MPSCPe8hC5g/U5k3hmS8U1I/AAAAAAAADS0/OC4Fr1943pM/s48-no/facebook.png" title="加入Facebook"></a>
    <a href="http://www.linkedin.com/profile/view?id=118974166" target="_blank"><img src="https://lh4.googleusercontent.com/-NQID-KxA_k8/U5k3htxuQiI/AAAAAAAADS4/u5YVUlb0o8Y/s48-no/linkedin.png" title="LinkedIn"></a>
    <a href="mailto:stevenko@kosbrother.com" target="_blank"><img src="https://lh4.googleusercontent.com/-uPGkBozjXKU/U5k3hrE6zXI/AAAAAAAADS8/F-cVHsZcf8U/s48-no/email.png" title="訂閱Email"></a>
    <a href="http://feeds.feedburner.com/StevenkosBlog" target="_blank"><img src="https://lh5.googleusercontent.com/-tuu3zKs042Q/U5lM91oMMhI/AAAAAAAADTU/6xeI7E07w6w/s48-no/rss.png" title="訂閱Rss"></a>
  </div>
  <div class="clear">
</section>
